.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-lines{
    background-color: aqua;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-black{
    background-color: rgb(86, 86, 86);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.figura{
    width: 200px;
    height: 204.8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.L-1{
    position: absolute;
    background-color: rgb(208, 158, 158);
    width: 200px;
    height: 204.8px;
    clip-path: polygon(19.51% 0%, 39.02% 0%, 100% 100%, 0% 100%, 12.19% 78.58%, 65.84% 78.58%);
    transform: rotate(121.2deg);

    left: 10px;
    top: 200px;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
}


.L-2{
    position: absolute;
    background-color: rgb(193, 193, 193);
    width: 200px;
    height: 204.8px;
    clip-path: polygon(19.51% 0%, 39.02% 0%, 100% 100%, 0% 100%, 12.19% 78.58%, 65.84% 78.58%);

    left: 30px;
    top: 0px;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.L-3{
    position: absolute;
    background-color: rgba(236, 236, 236, 0.961);
    width: 200px;
    height: 204.8px;
    clip-path: polygon(19.51% 0%, 39.02% 0%, 100% 100%, 0% 100%, 12.19% 78.58%, 65.84% 78.58%);
    
    transform: rotate(240deg);
    left: -77px;
    top: 23px;
    right: 0;
    bottom: 0;
    z-index: 1;
}