*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(248, 248, 248);
    font-family: sans-serif;
}

form{
    display: flex;
    flex-direction: row;
    width: clamp(900px , 70%, 1000px);
}

.form__left{
    width: clamp(300px, 20%, 400px);
    background-color: rgb(164, 145, 164);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 0 10px;
}

.entradas{
    width: 100%;
}

.entradas__up{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.entradas__down input{
    width: 100%;
}

.input__box{
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgb(223, 223, 223);
    font-size: 16px;
}

span{
    margin-bottom: 5px;
}

.entradas__down{
    margin-top: 20px;
}

img{
    width: 100%;
}

.right__up{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding: 20px;
}

.right__down{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.form__right{
    width: 80%;
    background-color: rgb(255, 229, 234);
    display: flex;
    flex-direction: column;
}

.entradas{
    margin-top: 20px;
}

.barra{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgb(223, 223, 223);
    font-size: 16px;
    background-color: white;
    position: relative;
}

.sup{
    background-color: pink;
    height: 60%;
    z-index: 0;
    position: absolute;
    left: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
    transition: all 1s;
}

.sup__2{
    width: 46%;
}

.sup__1{
    width: 47%;
}

.sup__3{
    width: 24%;
}

#vc:checked ~ .sup__3{
    left: 2%;
}

#cc:checked ~ .sup__3{
    left: 25%;
}

#ce:checked ~ .sup__3{
    left: 50%;
}

#lbs:checked ~ .sup__3{
    left: 75%;
}


#m:checked ~ .sup__1{
    left: 50%;
}

#f:checked ~ .sup__1{
    left: 4%;
}


.cb{
    display: none;
}

#neu:checked ~ .sup__2{
    left: 50%;
}

#sp:checked ~ .sup__2{
    left: 4%;
}

h2::before{
    content: '🐾';
    padding-right: 10px;
    font-size: 30px;
}

.next{
    background-color: rgb(164, 145, 164);
    color: white;
}

.back{
    font-size: 50px;
    border: 1px solid rgb(223, 223, 223);
    background-color: transparent;
}

.right__down input{
    width: 100px;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    font-size: 14px;
}

@media screen and (max-width: 700px) {
    form{
        flex-direction: column;
    }

    .form__right{
        width: 100%;
    }

    img{
        width: 40%;
    }

    .form__left{
        width: 100%;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    input{
        font-size: 12px;
    }
    
    .right__up{
        padding: 10px;
    }

    
    .barra{
        font-size: 12px;
    }

}
